@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Open+Sans&display=swap');

body
{
    font-family: 'Open Sans', sans-serif;
    color: #fefdff;
    text-align: justify;
    background-color:#DA3B26;
    margin-top: 5em;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #A22430;
}

b
{
    color: #fefdff; 
}

a:link
{
    color: #fefdff;
    text-decoration: none;
}

a:visited
{
    color: #fefdff;
}

ul
{
    list-style: none;
    margin-top: 0;
    padding: 0;
}


/* CONTENT */
.gnus
{
    padding-bottom: 0;
    margin-bottom: 0;
}

.container
{
    display: flex;
    justify-content: center;
}

.sideways
{
    writing-mode: sideways-lr;
    text-orientation: mixed;
    margin-top: 50px;
    margin-left: 0;
    font-size: 1em;
}

.center
{
    margin-top: 3em;
    flex: 0.5; 
}

#left
{
    margin-left: 3em;
    flex: 0.2; 
}

#right
{
    margin-right: 3em;
    flex: 0.2; 
    text-align: right;
}

.emphasis
{
    text-align: center;
}

/* BUTTON STUFF */
section 
{
    padding: 0;
    margin-top: 0;
}

.buttons 
{
	text-align: center;
}

button 
{
    padding: 1.3em 0;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
	text-align: center;
	color: #fefdff;
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
	width: 15em;
	outline: none;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.btn-1 
{
	overflow: hidden;
	background-color: transparent;
	border: 1px solid #fefdff;
	transition: all 0.3s ease;
}

.btn-1:hover 
{
	background-color: #f1fffa50;
	color: #fefdff;
}
.btn-1:active 
{
	transform: scale(1.1)
}