@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Open+Sans&display=swap');

html 
{ 
    background: url("bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body
{
    font-family: 'Open Sans', sans-serif;
    color: #474350;
    text-align: justify;
    margin-top: 3em;
    margin-right: 8em;
    margin-left: 8em;
    margin-bottom: 3em;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2em;
    margin-top: 0;
}

a:link
{
    color: #474350;
    text-decoration: none;
}

a:visited
{
    color: #474350;
}

ul
{
    list-style: none;
    margin-top: 0;
    padding: 0;
}

h3
{
    margin-bottom: 0;
    padding: 0;
    line-height: 0.8em;
}


/* CONTENT */
#logo-margin
{
    margin-left: 0.2em;
}

.headers
{
    padding-bottom: 0;
    margin-bottom: 0;
}

.container
{
    display: flex;
    flex-wrap: wrap;
}

.sideways
{
    writing-mode: sideways-lr;
    text-orientation: mixed;
    margin-top: 50px;
    margin-left: 0;
    font-size: 1em;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 100%;
    order: 3;
}

.center a:link
{
    color: #44344f;
}

.center a:visited
{
    color: #44344f;
}

#social
{
    width: 50%;
    order: 1;
}

#gnu
{
    width: 50%;
    text-align: right;
    order: 2;
}

#content
{
    margin-left: auto;
    margin-right: auto;
    order: 4;
    width: 100%;
}
#content a:link
{
    color: #44344f;
}

#content a:visited
{
    color: #44344f;
}

#content ul
{
    margin-left: 1em;
    margin-right: 1em;
}

.emphasis
{
    text-align: center;
}

/* BUTTON STUFF */
section 
{
    padding: 0;
    margin-top: 0;
}

.buttons 
{
	text-align: center;
}

button 
{
    padding: 1.3em 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
	text-align: center;
	color: #474350;
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
	width: 15em;
	outline: none;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.btn-1 
{
	overflow: hidden;
	background-color: transparent;
    border: 1px solid #474350;
    border-radius: 4px;
	transition: all 0.5s ease;
}

.btn-1:hover 
{
	background-color: #47435020;
	color: #474350;
}
.btn-1:active 
{
	transform: scale(1.1)
}