<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNU social - a free social networking platform</title>
    <link href="{{site.baseurl}}/assets/css/common.css" rel="stylesheet" media="screen and (min-width: 1500px)">
    <link href="{{site.baseurl}}/assets/css/mid.css" rel="stylesheet" media="screen and (max-width: 1500px)">
    <link href="{{site.baseurl}}/assets/css/smol.css" rel="stylesheet" media="screen and (max-width: 800px)">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="social">
            <h1 class="headers"><img src="{{site.baseurl}}/assets/imgs/logo.png" height="30em"><a href="{{site.baseurl}}/index.html" id="logo-margin">GNU social</a></h1>
            <nav class="navs-left"> 
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Donate</a></li>
                    <li><a href="">Official Merch</a></li>
                    <li><a href="">Logos</a></li>
                </ul>
            </nav>
        </div>

        <div class="center">
            <h3 class="emphasis">_The <a href="">free/libre</a> software social networking platform</h2>
            <section id="btns" class="aligncenter">
                <div class="buttons">
                    <button class="btn-1">INSTALL</button>
                    <button class="btn-1">JOIN US</button>
                </div>
            </section>            
        </div>

        <div id="gnu">
            <h1 class="headers"><a href="https://gnusocial.network/try/">_GNU</a></h1>
            <nav class="navs-right">
                <ul>
                    <li><a href="">About GNU</a></li>
                    <li><a href="">Philosophy</a></li>
                    <li><a href="">Licenses</a></li>
                    <li><a href="">Education</a></li>
                    <li><a href="">Software</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Help GNU</a></li>
                    <li><b><a href="">JOIN THE FSF</a></li></b>
                </ul>
            </nav>
            <div style="clear: both;"></div>
        </div>

        <div id="content">
            {{content}}
        </div>
    </div>
</body>
</html>