<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>GNU social - a free social networking platform</title>
        <link href="{{site.baseurl}}/assets/css/common.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&family=Montserrat&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header>

            <div id="top">
                <h1 class="alignleft"><a href="{{site.baseurl}}/index.html">GNU SOCIAL</a></h1>
                <h1 class="alignright"><a href="https://gnusocial.network/try/">JOIN US</a></h1>
                <h1 class="alignright"><a href="https://notabug.org/diogo/gnu-social/src/nightly/INSTALL.md">INSTALL</a></h1>
                <div style="clear: both;"></div>
            </div>

            <div class="navs">
                The <a href="">free/libre</a> software social networking platform
                <nav>
                    <ul>
                        <li><a href="">Donate</a></li>
                        <li><a href="">Official Merch</a></li>
                        <li><a href="">Logos</a></li>
                    </ul>
                </nav>
            </div>

        </header>
        <br>
        {{content}}
    </body>
</html>